{% load static %}
<div class="mobile-header-top d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- header-search-mobile start -->
                <div class="header-search-mobile">
                    <div class="table">
                        <div class="table-cell">
                            <ul>
                                <li><a class="search-open" href="#"><i class="zmdi zmdi-search"></i></a></li>
                                <li><a href="login.html"><i class="zmdi zmdi-lock"></i></a></li>
                                <li><a href="my-account.html"><i class="zmdi zmdi-account"></i></a></li>
                                <li><a href="wishlist.html"><i class="zmdi zmdi-favorite"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header-search-mobile start -->
            </div>
        </div>
    </div>
</div>
<!-- Mobile-header-top End -->
<!-- HEADER-AREA START -->
<header id="sticky-menu" class="header">
    <div class="header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 offset-md-4 col-7">
                    <div class="logo text-md-center">
                        <a href="/"><img src="{% static 'img/logo/logo.png'%}" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-4 col-5">
                    <div class="mini-cart text-end">
                        <ul>
                            <li>
                                <a class="cart-icon" href="#">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                    <span>{{shopcart_details.count}}</span>
                                </a>
                                <div class="mini-cart-brief text-left">
                                    <div class="cart-items">
                                        <p class="mb-0">You have <span>{{shopcart_details.count}}items</span> in your shopping bag</p>
                                    </div>
                                    <div class="all-cart-product clearfix">
                                        {% for pro in shopcart_details %}
                                        <div class="single-cart clearfix">
                                            <div class="cart-photo">
                                                <a href="#"><img src="{{ pro.product.image.url }}" alt="" /></a>
                                            </div>
                                            <div class="cart-info">
                                                <h5><a href="#">{{pro.product.title}}</a></h5>
                                                <p class="mb-0">Price : $ {{pro.product.sale_price}}</p>
                                                <p class="mb-0">Qty : {{ pro.quantity }} </p>
                                                <span class="cart-delete"><a href="#"><i class="zmdi zmdi-close"></i></a></span>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                    <div class="cart-totals">
                                        <h5 class="mb-0">Total <span class="floatright">$500.00</span></h5>
                                    </div>
                                    <div class="cart-bottom  clearfix">
                                        <a href="/order/shopcart/" class="button-one floatleft text-uppercase" data-text="View cart">View cart</a>
                                        <a href="checkout.html" class="button-one floatright text-uppercase" data-text="Check out">Check out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MAIN-MENU START -->
    <div class="menu-toggle hamburger hamburger--emphatic d-none d-md-block">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>
    <div class="main-menu  d-none d-md-block">
        <nav>
            <ul>
                <li><a href="/">home</a>

                </li>
                <li><a href="/shop/products/">products</a>
                    <div class="mega-menu menu-scroll">
                        <div class="table">
                            <div class="table-cell">
                                {% for data in header_data %}
                                <div class="half-width">
                                    <ul>
                                        <li class="menu-title">{{data.category.name}}</li>
                                        <li><a href="#">{{data.name}}</a></li>

                                    </ul>
                                </div>
                                {% endfor %}
                                <div class="full-width">
                                    <div class="mega-menu-img">
                                        <a href="single-product.html"><img src="" alt="banner" /></a>
                                    </div>
                                </div>
                                <div class="pb-80"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/blog/">blog</a></li>
                <li><a href="/about_us/">about us</a></li>
                <li><a href="/contact/">contact</a></li>
            </ul>
        </nav>
    </div>
    <!-- MAIN-MENU END -->
</header>