{% extends "base.html" %}
{% block body %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #f0f0f0;
    }

    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
    }

    h2 {
        color: #333;
    }

    p {
        color: #666;
        margin-bottom: 20px;
    }

    .passInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>

<body>
    <div class="card">
        <h2>Forgot Password?</h2>
        <p>You can reset your Password here</p>
        <form action="{% url 'user:forgotpassword'%}" method='POST'>
            {% csrf_token %}
        <input type="text" name="name" class="passInput" placeholder="User Name">
        <input type="text" name="email" class="passInput" placeholder="Email address">
        <button type="submit">Send My Password</button>
        </form>
    </div>
</body>

{% endblock %}