{% extends "base.html" %}
{% load static %}
{% block header%}{%include 'header.html'%}{%endblock%}
{% block body %}


<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <form action="{% url 'user:otp' %}" method='POST'>
                {% csrf_token %}
            <h6>Please enter the otp <br> to verify your account</h6>
            <div> <span>A code has been sent to</span> <small>{{user}}</small> </div>
            <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
            <input class="m-2 text-center form-control rounded" type="text" id="first" name="first" maxlength="1" />
            <input class="m-2 text-center form-control rounded" type="text" id="second" name="second" maxlength="1" />
            <input class="m-2 text-center form-control rounded" type="text" id="third" name="third" maxlength="1" />
            <input class="m-2 text-center form-control rounded" type="text" id="fourth" name="fourth" maxlength="1" />
            <input class="m-2 text-center form-control rounded" type="text" id="fifth" name="fifth" maxlength="1" />
            <input class="m-2 text-center form-control rounded" type="text" id="sixth" name="sixth" maxlength="1" />
            </div>
            <div class="mt-4"><button type="submit" data-text="regiter" class="button-one submit-button mt-15">regiter</button>
            </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}
