{% extends "adminbase.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/app-assets/css/core/menu/menu-types/horizontal-menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/app-assets/css/plugins/charts/chart-apex.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/app-assets/css/plugins/extensions/ext-component-toastr.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/app-assets/css/pages/app-invoice-list.css' %}">
{% endblock %}
{% block header%}{%include 'adminheader.html'%}{%endblock%}
{% block body %}
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Analytics Start -->
                <section id="dashboard-analytics">
                    <div class="row match-height">
                        <!-- Greetings Card starts -->
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="card card-congratulations">
                                <div class="card-body text-center">
                                   
                                    <div class="avatar avatar-xl bg-primary shadow">
                                        <div class="avatar-content">
                                            <i data-feather="award" class="font-large-1"></i>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="mb-1 text-white">Congratulations {{users}},</h1>
                                        <p class="card-text m-auto w-75">
                                            You have done <strong>57.6%</strong> more sales today. Check your new badge in your profile.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Greetings Card ends -->

                        <!-- Subscribers Chart Card starts -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-header flex-column align-items-start pb-0">
                                    <div class="avatar bg-light-primary p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather="users" class="font-medium-5"></i>
                                        </div>
                                    </div>
                                    <h2 class="font-weight-bolder mt-1">{{user_counts}}</h2>
                                    <p class="card-text">Users</p>
                                </div>
                                <div id="gained-chart"></div>
                            </div>
                        </div>
                        <!-- Subscribers Chart Card ends -->

                        <!-- Orders Chart Card starts -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-header flex-column align-items-start pb-0">
                                    <div class="avatar bg-light-warning p-50 m-0">
                                        <div class="avatar-content">
                                            <i data-feather="package" class="font-medium-5"></i>
                                        </div>
                                    </div>
                                    <h2 class="font-weight-bolder mt-1">{{product_counts}}</h2>
                                    <p class="card-text">Products</p>
                                </div>
                                <div id="order-chart"></div>
                            </div>
                        </div>
                        <!-- Orders Chart Card ends -->
                    </div>

                    <div class="row match-height">
                        <!-- Avg Sessions Chart Card starts -->
                        <div class="col-lg-6 col-12">
                            <div class="card">
                                <canvas id="orders"></canvas>
                            </div>
                        </div>
                        <!-- Avg Sessions Chart Card ends -->

                        <!-- Support Tracker Chart Card starts -->
                        <div class="col-lg-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Payment Statistics</p>
                                    <p class="font-weight-500">The Most Used payment Methods to purchase items from our website </p>
                                    
                                    <canvas id="PaymentChart"></canvas>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Support Tracker Chart Card ends -->
                    </div>

                    <div class="row match-height">
                        <!-- Timeline Card -->
                        <div class="col-12">
                            <div class="card card-user-timeline">
                                <div class="card-body">
                                    <canvas id="saleschart"></canvas>
                                </div>
                            </div>
                        </div>
                        <!--/ Timeline Card -->

                    </div>

                </section>
                <!-- Dashboard Analytics end -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a class="ml-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->
    {%endblock%}
    {%block javascript%}


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('PaymentChart');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: '# of Orders',
                    data: {{ data|safe }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
      </script>
      
      <script>
        const orders = document.getElementById('orders');
        const statusMapping = {
            "New": "New",
            "Accepted": "Accepted",
            "Preparing": "Preparing",
            "OnShipping": "OnShipping",
            "Completed": "Completed",
            "Canceled": "Canceled",
            "Return": "Return",
        };
    
        // Replace status numbers with names in the labels array
        const statusLabels = {{ status_labels|safe }};
        const labels = statusLabels.map(statusNumber => statusMapping[statusNumber]);
    
        new Chart(orders, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Products',
                    data: {{ status_data|safe }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

      <script>
        const sales = document.getElementById('saleschart');
        new Chart(sales, {
          type: 'line',
          data: {
              labels: {{ line_labels|safe }},
              datasets: [{
                  label: 'Total Amount',
                  data: {{ line_data|safe }},
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true,
                      callback: function(value, index, values) {
                          return '$' + value;  // Format y-axis values as currency
                      }
                  }
              }
          }
      });
      </script>
      
    <script src="{% static 'adminpanel/app-assets/js/scripts/pages/dashboard-analytics.js'%}"></script>
    <script src="{% static 'adminpanel/app-assets/js/scripts/pages/app-invoice-list.js'%}"></script>
    {%endblock%}
