
{% extends "adminbase.html" %}
{% load static %}
{% block style %}
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/app-assets/css/core/menu/menu-types/horizontal-menu.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/app-assets/css/pages/app-invoice-list.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'adminpanel/app-assets/css/pages/app-user.css'%}">
    <!-- END: Page CSS-->
{% endblock %}
{% block header%}{%include 'adminheader.html'%}{%endblock%}
{% block body %}



    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="app-user-view">
                    <!-- User Card & Plan Starts -->
                    <div class="row">
                        <!-- User Card starts-->
                        <div class="col-xl-9 col-lg-8 col-md-7">
                            <div class="card user-card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                                            <div class="user-avatar-section">
                                                <div class="d-flex justify-content-start">
                                                    <img class="img-fluid rounded" src="" height="104" width="104" alt="User avatar" />
                                                    <div class="d-flex flex-column ml-1">
                                                        <div class="user-info mb-1">
                                                            <h4 class="mb-0">{{orders.order.user}}</h4>
                                                            <span class="card-text">{{orders.order.user.email}}</span>
                                                        </div>
                                                        <div class="d-flex flex-wrap">
                                                            <a href="" class="btn btn-primary">User Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center user-total-numbers">
                                                <div class="d-flex align-items-center mr-2">
                                                    <div class="color-box bg-light-primary">
                                                        <i data-feather="dollar-sign" class="text-primary"></i>
                                                    </div>
                                                    <div class="ml-1">
                                                        <h5 class="mb-0">{{orders.order.order_total}}</h5>
                                                        <small>Order Total Amount</small>
                                                    </div>
                                                </div>
                                                {% if orders.order.coupon %}
                                                <div class="d-flex align-items-center">
                                                    <div class="color-box bg-light-success">
                                                        <i data-feather="trending-up" class="text-success"></i>
                                                    </div>
                                                    
                                                    <div class="ml-1">
                                                        <h5 class="mb-0">{{orders.order.coupon}}</h5>
                                                        <small>Discount Coupon</small>
                                                    </div>
                                                    
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                                            <div class="user-info-wrapper">
                                                <div class="d-flex flex-wrap">
                                                    <div class="user-info-title">
                                                        <i data-feather="user" class="mr-1"></i>
                                                        <span class="card-text user-info-title font-weight-bold mb-0">NAME</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{orders.order.user_name}}</p>
                                                </div>
                                                <div class="d-flex flex-wrap my-50">
                                                    <div class="user-info-title">
                                                        <i data-feather="check" class="mr-1"></i>
                                                        <span class="card-text user-info-title font-weight-bold mb-0">STATUS</span>
                                                    </div>
                                                    {% if orders.order.status == 'Canceled' %}
                                                    <div class="badge badge-light-danger">{{orders.order.status}}</div>
                                                    {% else %}
                                                    <p class="card-text mb-0 badge badge-light-primary">Active</p>
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex flex-wrap my-50">
                                                    <div class="user-info-title">
                                                        <i data-feather="star" class="mr-1"></i>
                                                        <span class="card-text user-info-title font-weight-bold mb-0">COUNTRY,STATE</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{orders.order.country}},{{orders.order.state}}</p>
                                                </div>
                                                <div class="d-flex flex-wrap my-50">
                                                    <div class="user-info-title">
                                                        <i data-feather="flag" class="mr-1"></i>
                                                        <span class="card-text user-info-title font-weight-bold mb-0">CITY</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{orders.order.city}}</p>
                                                </div>
                                                <div class="d-flex flex-wrap">
                                                    <div class="user-info-title">
                                                        <i data-feather="phone" class="mr-1"></i>
                                                        <span class="card-text user-info-title font-weight-bold mb-0">CONTACT</span>
                                                    </div>
                                                    <p class="card-text mb-0">{{orders.order.phone}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /User Card Ends-->

                        <!-- Plan Card starts-->
                        <div class="col-xl-3 col-lg-4 col-md-5">
                            <div class="card plan-card border-primary">
                                <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
                                    <h5 class="mb-0">Current Shipping Status </h5>
                                    <span class="badge badge-light-secondary" data-toggle="tooltip" data-placement="top" title="Expiry Date">July 22, <span class="nextYear"></span>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div class="badge {% if orders.order.status == 'New' %}badge-light-primary{% elif orders.order.status == 'Accepted' %}badge-light-success{% elif orders.order.status == 'Preparing' %}badge-light-warning{% elif orders.order.status == 'OnShipping' %}badge-light-info{% elif orders.order.status == 'Completed' %}badge-light-success{% elif orders.order.status == 'Canceled' %}badge-light-danger{% elif orders.order.status == 'Return' %}badge-light-secondary{% endif %}">
                                        {{ orders.order.status }}
                                    </div>
                                    
                                    <ul class="list-unstyled my-1">
                                        <li>
                                            <span class="align-middle">product is {{orders.order.status}}</span>
                                        </li>
                        
          
                                    </ul>
                                    <form method="post" action="{% url 'adminpanel:orderdetails' id=orders.id %}">
                                        {% csrf_token %}
                            
                                        <div style="margin-bottom: 10px;">
                                            <select class="form-control" id="variant" name="orderStatus" style="width: 100%;">
                                                <option value="" disabled selected>Order Status</option>
                                                {% for order_choice in order_status %}
                                                    <option value="{{ order_choice.0 }}">{{ order_choice.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                            
                                        <input type="hidden" name="orderId" value="{{ orders.order.id }}">
                            
                                        <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /Plan CardEnds -->
                    </div>
                    <!-- User Card & Plan Ends -->


                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-2">Product Details</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Image</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <td>{{orders.product.title}}</td>
                                                <td>{{orders.product.sale_price}}</td>
                                                <td>{{orders.quantity}}</td>
                                                <td><img style="height:50px;" src="{{orders.product.image.url}}"/></td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            {% if orders.order.status == 'Canceled' or orders.order.status == 'Return' %}
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-2">{{orders.order.status}} Reason</h4>
                                </div>
                                <div class="card-body">
                                    <!-- Your button and input field go here -->
                                    <div class="form-group">
                                        <label for="userActionInput">User Response:</label>
                                        <input type="text" class="form-control" id="userActionInput" value="{{orders.order.user_note}}" readonly>
                                    </div>
                                    <button type="button" class="btn btn-primary">Approve Refund</button>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        
                        <!-- information Ends -->


                    </div>
                    <!-- User Timeline & Permissions Ends -->


                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a class="ml-25" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->
{% endblock %}

